.favorites-container {
    width: 90%;
    margin: auto;
  }
  
  .favorites-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .favorite-card {
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .favorite-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .favorite-card h3 {
    padding: 10px;
  }
  
  .favorite-card:hover {
    transform: scale(1.05);
  }
  