form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    margin: auto;
    color: white; /* Set the default text color for the form */
    padding: 60px;
    text-align: center; /* Center align the text inside the form */
  }
  
  label {
    font-weight: bold;
    color: white; /* Set the text color for labels */
    text-align: center; /* Center align the text inside the labels */
  }
  
  input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white; /* Set the text color for input and textarea */
    background-color: #333; /* Set the background color for input and textarea */
    text-align: center; /* Center align the text inside the input and textarea */
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px; /* Set a fixed width for the button */
    margin: 0 auto; /* Center the button */
  }
  
  button:hover {
    background-color: #555;
  }