.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .navbar-search {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  