.navbar {
  background-color: black;
  color: white;
  padding: 10px 0; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 60px; 
}

.navbar-logo {
  height: 220px; 
  width: 350px; 
}

.navbar-search {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 300px;
  flex-grow: 1; 
  margin: 0 20px; 
}

.navbar-links {
  display: flex;
  gap: 14px; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
